---
layout: base
title: index
---

<div class="items">
  {% for post in paginator.posts %}
  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/>
  {% endfor %}
</div>

<div class="pager">
	<ul>
		<li>
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/" class="current">上页</a>
				{% else %}
					<a href="/page{{paginator.previous_page}}">上页</a>
				{% endif %}
			{% else %}
				<span>上页</span>
			{% endif %}
		</li>
		<li>
			{% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}">下页</a>
			{% else %}
				<span>下页</span>
			{% endif %}
		</li>
		<li class="cleaner"></li>
	</ul>
	<div class="cleaner"></div>
</div>